@{
    ViewBag.Title = "Danh sách thành viên";
}

<h2>Danh sách thành viên</h2>

@if (ViewBag.members != null)
{
    <table>
        <tr>
            <th>Mã sinh viên</th>
            <th>Username</th>
            <th>Họ và tên</th>
            <th>Password</th>
            <th>Email</th>
        </tr>
        @foreach (var m in ViewBag.members)
        {
            <tr>
                <td>@m.MemberId</td>
                <td>@m.Username</td>
                <td>@m.Fullname</td>
                <td>@m.Password</td>
                <td>@m.Email</td>
            </tr>
        }
    </table>
}
else
{
    <p>Không có dữ liệu thành viên để hiển thị.</p>
}
